# BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^list.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . http://localhost/accounting/index.php [L]
# END WordPress
