* {
  font-family: "Poppins", sans-serif;
}

:root {
  /* #0057cd; */
  --main-color: #ad6420;
  --main2-color: #f39237;
  --light-color: #ffecda;
  --alt-color: #332f2a;
  --second-color: #fffcf9;
  --logo-height: 60px;
  --sidebar-width: 60px;
}

body {
  margin: 0;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;

}

.container {
  width: 95vw;
  margin: 0 auto;
  margin-bottom: 50px;
}

table {
  width: 100%;
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
  color: var(--alt-color);
}

thead {
  background: #f7f7f7;
  color: var(--alt-color);
  font-weight: 300 !important;
  border: 3px double #cfcfcf;
}

thead tr {
  position: relative;
  color: var(--alt-color);
}

table tfoot th {
  border-right: none;
  font-weight: 600;
}

table td:nth-child(1),
table th:nth-child(1) {
  min-width: 350px;
}

table td,
table th {
  min-width: 350px;
}

table td:nth-child(2),
table th:nth-child(2) {
  min-width: 350px;
}

table td:nth-child(3),
table th:nth-child(3) {
  min-width: 350px;
}

table th {
  padding: 10px 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  border-right: 1px dotted #c7c7c7;
}

table td {
  padding: 5px 20px;
  text-align: left;
  font-size: 18px;
  border-right: 1px dotted #c7c7c7;
}

tbody {
  overflow: auto;
}

tr.even {
  background: #fafafa;
}

.img-frame {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 3px solid #f1f5f8;
  margin-right: 10px;
}

tbody tr {
  border-bottom: 1px dotted #c7c7c7;
}

.profission {
  font-size: 14px;
}

.img-frame img {
  width: 100%;
  object-fit: contain;
}

.flex.fx-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: var(--alt-color);
}


.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
  width: 100%;
}

.lt-head h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
}

.lt-head {
  display: flex;
  flex-direction: column;
}

.logo_img {
  width: 200px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.dt-range {
  font-size: 18px;
}

span.bold {
  color: var(--main-color);
  font-weight: 600;
  text-decoration: underline;
}

.logo_img img {
  width: 100%;
  object-fit: contain;
}

table td:last-child,
table th:last-child {
  border-right: none;

}

.copyright-section {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  font-size: 12px;
  color: var(--main-color);
  padding: 7px;
  border-radius: 5px 0px 0px 0px;
  width: 100%;
  text-align: center;
  z-index: 9;
}

.copyright-section img {
  height: 15px;
  margin-bottom: -3px;
}

.sub_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  font-size: 17px;
  padding-top: 10px;
  border-top: 1px solid #cfcfcf;
}

table td:nth-child(4),
table th:nth-child(4) {
  min-width: 350px;
}

td a {
  text-decoration: none;
  color: var(--alt-color);
  display: flex;
  align-items: center;
}

.flex.fx-start {
  display: flex;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  * {
    font-family: "Poppins", sans-serif;
  }

  :root {
    /* #0057cd; */
    --main-color: #ad6420;
    --main2-color: #f39237;
    --light-color: #ffecda;
    --alt-color: #332f2a;
    --second-color: #fffcf9;
    --logo-height: 60px;
    --sidebar-width: 60px;
  }

  .copyright-section img {
    height: 15px;
    margin-bottom: -3px;
  }

  body {
    margin: 0;
    box-sizing: border-box;
  }

  .sub_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    font-size: 17px;
    padding-top: 10px;
    border-top: 1px solid #cfcfcf;
  }

  body * {
    box-sizing: border-box;

  }

  .container {
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  table {
    width: 100%;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
    color: var(--alt-color);
  }

  thead {
    background: #f7f7f7;
    color: var(--alt-color);
    font-weight: 300 !important;
    border: 3px double #cfcfcf;
  }

  thead tr {
    position: relative;
    color: var(--alt-color);
  }

  table tfoot th {
    border-right: none;
    font-weight: 600;
  }

  table td:nth-child(1),
  table th:nth-child(1) {
    min-width: 350px;
  }

  table td:nth-child(2),
  table th:nth-child(2) {
    min-width: 350px;
  }

  table td:nth-child(3),
  table th:nth-child(3) {
    min-width: 350px;
  }

  table td:nth-child(4),
  table th:nth-child(4) {
    min-width: 350px;
  }

  table th {
    padding: 10px 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    border-right: 1px dotted #c7c7c7;
  }

  table td {
    padding: 5px 20px;
    text-align: left;
    font-size: 20px;
    border-right: 1px dotted #c7c7c7;
  }

  tbody {
    overflow: auto;
  }

  tr.even {
    background: #fafafa;
  }

  .img-frame {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 3px solid #f1f5f8;
    margin-right: 10px;
  }

  tbody tr {
    border-bottom: 1px dotted #c7c7c7;
  }

  .img-frame img {
    width: 100%;
    object-fit: contain;
  }

  .flex.fx-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--alt-color);
  }


  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
    width: 100%;
  }

  .lt-head h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
  }

  .lt-head {
    display: flex;
    flex-direction: column;
  }

  .logo_img {
    width: 200px;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span.dt-range {
    font-size: 18px;
  }

  span.bold {
    color: var(--main-color);
    font-weight: 600;
    text-decoration: underline;
  }

  .logo_img img {
    width: 100%;
    object-fit: contain;
  }

  table td:last-child,
  table th:last-child {
    border-right: none;
  }

  .copyright-section {
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    font-size: 18px;
    color: var(--main-color);
    padding: 7px;
    border-radius: 5px 0px 0px 0px;
    width: 100%;
    text-align: center;
    z-index: 9;
  }

  .profission {
    font-size: 14px;
  }

  table td,
  table th {
    min-width: 350px;
  }

  td a {
    text-decoration: none;
    color: var(--alt-color);
    display: flex;
    align-items: center;
  }

  .flex.fx-start {
    display: flex;
  }
}